@import '../base/vars';

.fav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;

    &:focus {
        outline: none;
    }
}

.heart-icon {
    width: 24px;
    height: 24px;
    fill: red; /* Use the current text color */
}

.heart-fill {
    color: red;
}

.heart-nofill {
    color: gray;
}