.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0;
  
    &__title {
      font-size: 2rem;
      text-align: center;
  
      &-link {
        color: #fff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }