// PALETTE

$blue: #004FFF;
$lightgrey: #fefffe;
$ecru: #ffbf00;
$red: #fa5252;
$black: #161616;
$lightblack: #252525;

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$headerfont: "Montserrat", sans-serif;
$bodyfont: "Karla", sans-serif;