// PALETTE

$blue: #8EB8E5;
$lightgrey: #CFCFCF;
$ecru: #CDA765;
$red: #E82A2A;
$black: #303236;

// TYPOGRAPHY
@font-face {
    font-family: "open-sans", san-serif;
    src: url(https://use.typekit.net/ege7suw.css);
}

$header: "open-sans", san-serif;